dist: bionic

language: python

cache: pip

notifications:
  email: true

matrix:
  include:
    - python: 3.7
    - python: 3.8
    - python: 3.9
    - python: 3.10

install:
- sudo apt-get update
- sudo apt-get install pandoc
- pip install pypandoc
- pip install setuptools=="60.8.2"

script:
- make ci

before_deploy:
- pip install bump2version
- nvm install 14
- npm install @semantic-release/changelog
- npm install @semantic-release/exec
- npm install @semantic-release/git
- npm install @semantic-release/github

deploy:
- provider: script
  script: npx semantic-release
  skip_cleanup: true
  on:
    python: '3.7'
    branch: master
- provider: pypi
  user: __token__
  password: $PYPI_TOKEN
  repository: https://upload.pypi.org/legacy
  skip_cleanup: true
  on:
    python: '3.7'
    tags: true
